@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-height: 3.5rem;

  --first-color: #ff9d02;
  --title-color: #232323;
  --text-color: #8e8e8e;
  --container-color: #f3f3f3;

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.818rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-fixed: 100;
  --z-tooltip: 10;
}

@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.3rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.878rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  background-color: var(--container-color);
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CSS Class */
.main {
  overflow: hidden;
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 6rem 0 3rem;
}

.grid {
  display: grid;
  row-gap: 1.5rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-transform: capitalize;
  margin-bottom: 1.75rem;
  text-align: center;
}

.section__title span {
  color: var(--first-color);
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--container-color);
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 7rem 3rem 0;
    transition: right 0.4s;
    z-index: var(--z-fixed);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  letter-spacing: 2px;
  transition: all 0.4s;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 0;
  height: 2.5px;
  background: var(--first-color);
  transition: 0.4s;
}

.nav__link:hover {
  color: #000;
}

.nav__link:hover::after {
  background: #000;
  width: 100%;
}

.nav__close,
.nav__logo,
.nav__toggle {
  cursor: pointer;
  transition: 0.4s;
}

.nav__logo {
  font-size: 1rem;
}

.nav__toggle {
  padding: 0.4rem;
  background-color: var(--first-color);
  display: grid;
  place-items: center;
  color: #fff;
  border-radius: 50%;
}

.nav__toggle {
  font-size: 1.25rem;
}

.nav__close {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 1.75rem;
  color: var(--title-color);
  opacity: 0.5;
}

.nav__close:hover,
.nav__toggle:hover,
.nav__logo {
  opacity: 1;
}

.nav__logo,
.nav__toggle {
  opacity: 0.8;
}

.nav__logo {
  color: var(--title-color);
}

.nav__logo i {
  color: var(--first-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

/* Show Menu */
.show-menu {
  right: 0;
}

/* Active Link */
.active-link {
  color: var(--first-color);
}

.active-link:hover {
  color: var(--first-color);
}

.active-link:hover::after {
  width: 100%;
  background-color: var(--first-color);
}

.active-link::after {
  width: 100%;
}

/* Scroll Header */
.scroll-header {
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.05);
}

/* Home */
.home {
  padding: 8rem 1rem 3rem;
}
.home__container {
  row-gap: 3.5rem;
}

.home__subtitle {
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: 0.25rem;
}

.home__description {
  margin-bottom: 1.5rem;
}

.home__image {
  width: 250px;
  justify-self: center;
}

/* Button */
.button {
  display: inline-block;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 3rem;
}

.button-1,
.button-2,
.button-3 {
  opacity: 0.8;
  transition: 0.4s;
}

.button-1,
.button-3 {
  background-color: var(--first-color);
  color: #fff;
}

.button-2 {
  border: 2px solid var(--first-color);
  color: var(--first-color);
  background-color: transparent;
}

.button-1:hover,
.button-2:hover,
.button-3:hover {
  opacity: 1;
}

.button-3 {
  border-radius: 50%;
  font-size: var(--small-font-size);
  padding: 0.75rem;
  display: grid;
  place-items: center;
}

/* About */
.about__container {
  row-gap: 3.5rem;
}

.about__title {
  text-align: start;
  margin-bottom: 1.75rem;
  font-size: var(--h1-font-size);
}

.about__title span {
  color: var(--first-color);
}

.about__description {
  margin-bottom: 1.75rem;
}

.about__image {
  width: 250px;
  justify-self: center;
}

/* New & Menu */
.new__container {
  grid-template-columns: 250px;
  justify-content: center;
}

.new__card {
  position: relative;
  background-color: transparent;
  border-radius: 0.75rem;
  padding: 0.25rem;
  transition: 0.4s;
}

.new__image {
  width: 100%;
  padding: 1.5rem 3rem;
  align-items: center;
  transition: .4s;
}

.new__img {
  width: 90%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: .4s;
}

.new__data {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  row-gap: 0.75rem;
}

.new__data div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new__title {
  font-size: var(--h2-font-size);
}

.new__rate {
  display: flex;
  column-gap: 0.25rem;
}

.new__rate i {
  color: var(--first-color);
}

.new__price {
  padding: 8px 15px;
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.new__new {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem 0.75rem;
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 1rem;
  background-color: var(--first-color);
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s;
}

.new__new:hover {
  opacity: 1;
}

.new__card:hover .new__image {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.new__card:hover {
  background-color: #f9f9f9;
}
/* Services */
.services__container {
  grid-template-columns: 250px;
  justify-content: center;
}

.services__card {
  background-color: transparent;
  border-radius: 0.75rem;
  padding: 2rem;
  transition: 0.4s;
}

.services__icon {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  background: #ffebcd;
  color: var(--first-color);
  border-radius: 50%;
  opacity: 0.8;
  transition: 0.4s;
}

.services__icon i {
  font-size: 1.5rem;
}

.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.services__card:hover .services__icon {
  opacity: 1;
}

.services__card:hover {
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

/* Contact */
.contact__container {
  row-gap: 3.5rem;
}

.contact__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.contact__info {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.contact__data {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

.contact__data i {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.contact__link {
  transition: 0.4s;
}

.contact__link:hover {
  color: var(--first-color);
}

.contact__time {
  color: var(--first-color);
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
}

.contact__inputs,
.contact__btns {
  width: 100%;
  height: 40px;
}

.contact__input {
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.contact__input {
  padding: 1rem 0.75rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  background: transparent;
  transition: all 0.4s;
}

.contact__input:is(:hover, :focus-visible),
.contact__input:not(:placeholder-shown).contact__input:not(:focus) {
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.05);
}

.contact__input::placeholder {
  color: var(--text-color);
}

.contact__area {
  height: 8rem;
}

.contact__inputs textarea {
  resize: none;
}

.contact__btn {
  width: 100%;
  height: 100%;
  background: var(--first-color);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.7;
}

.contact__btn:is(:hover, :focus-visible) {
  opacity: 1;
}

/* Footer */
.footer {
  background: #f1f1f1;
  padding: 5rem 1rem 2rem;
}

.footer__container {
  margin-bottom: 3.5rem;
  row-gap: 2rem;
}

.footer__title {
  font-size: 1rem;
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.75rem;
}

.footer__description {
  font-size: 0.738rem;
}

.footer__title a {
  color: var(--title-color);
  opacity: 0.7;
  transition: 0.4s;
}

.footer__title:hover a {
  opacity: 1;
}

.footer__title i,
.footer__title span {
  color: var(--first-color);
}

.footer__list {
  font-size: var(--small-font-size);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer__link,
.footer__social-link {
  opacity: 0.7;
  transition: 0.4s;
}

.footer__link:hover {
  transform: translateX(3px);
  opacity: 1;
  color: var(--first-color);
}

.footer__list li span {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  background-color: #fff;
  border-radius: 50%;
}

.footer__social-link:hover {
  transform: translateY(-3px);
  background-color: var(--first-color);
  opacity: 1;
  color: #fff;
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
}

.footer__copy a {
  color: var(--first-color);
}

/* Scroll Top */
.scrolltop {
  position: fixed;
  bottom: -20rem;
  right: 1rem;
  padding: 0.25rem;
  display: grid;
  place-items: center;
  background-color: var(--first-color);
  z-index: var(--z-tooltip);
  border-radius: 50%;
  color: #fff;
  opacity: 0.7;
  transition: all 0.8s;
}

.scrolltop i {
  font-size: 1.5rem;
}

.scrolltop:hover {
  opacity: 1;
}

/* Show ScrollTop */
.show-scroll {
  bottom: 2rem;
}

/* Media Query */
/* Small Device */
@media screen and (min-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Medium Device */

@media screen and (min-width: 576px) {
  .home__image,
  .about__image {
    width: 280px;
  }

  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .services__container,
  .new__container {
    grid-template-columns: repeat(2, 250px);
    column-gap: 2rem;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.5rem;
  }
  .section__title {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 8rem 0 4rem;
  }

  .home,
  .about {
    padding: 12rem 0 6rem;
  }

  .home__image,
  .about__image {
    width: 320px;
  }

  .about__image {
    order: -1;
  }

  .home__container,
  .about__container,
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.5rem;
    justify-content: center;
    /* align-items: center; */
  }

  .section__title {
    margin-bottom: 3.5rem;
  }

  .services__container,
  .new__container {
    grid-template-columns: repeat(2, 260px);
  }

  .contact__title {
    margin-bottom: 2.25rem;
  }

  .show-scroll {
    right: 1.5rem;
  }

  .contact__title {
    margin-bottom: 1.75rem;
  }

  .footer {
    padding: 6rem 1rem 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__link {
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: var(--font-medium);
    text-transform: capitalize;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .home__image,
  .about__image {
    width: 380px;
  }

  .services__container,
  .new__container {
    grid-template-columns: repeat(3, 260px);
  }

  .contact__title {
    margin-bottom: 2rem;
  }

  .footer {
    padding: 7rem 1rem 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .show-scroll {
    right: 2rem;
    bottom: 2.25rem;
  }
}
